<HTML>
<HEAD>
    <LINK HREF="main.css" REL="stylesheet">
    <META CONTENT="width=device-width, initial-scale=1.0" NAME="viewport">
    <TITLE>{CAR_NAME}</TITLE>
</HEAD>
<BODY>
<DIV ID="container">
    <MAIN>
        <ARTICLE>
            <TABLE>
                <TR>
                    <TD><B>{CAR_NAME}</B></TD>
                    <TD><SMALL><A HREF="{REFRESH_URL}">Refresh</A> ({DATA_TIMESTAMP})</SMALL></TD>
                </TR>
                <TR>
                    <TD>Total mileage:</TD>
                    <TD>{MILEAGE}km</TD>
                </TR>
                <TR>
                    <TD>Plug status:</TD>
                    <TD>{PLUGGED_IN}</TD>
                </TR>
                <TR>
                    <TD>Charging status:</TD>
                    <TD>{CHARGING}</TD>
                </TR>
                <TR>
                    <TD>Battery level:</TD>
                    <TD>{BATTERY_LEVEL}%</TD>
                </TR>
                <TR>
                    <TD>Battery energy:</TD>
                    <TD>{BATTERY_ENERGY}kWh</TD>
                </TR>
                <TR>
                    <TD>Range:</TD>
                    <TD>{RANGE}km</TD>
                </TR>
                <TR>
                    <TD>Battery temperature:</TD>
                    <TD>{BATTERY_TEMP}&deg;C</TD>
                </TR>
                <TR>
                    <TD>Ambient temperature:</TD>
                    <TD>{OUTDOOR_TEMP}</TD>
                </TR>
            </TABLE>
        </ARTICLE>
    </MAIN>
</DIV>
</BODY>
</HTML>