<html>
<head>
    <link href="main.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{CAR_NAME}</title>
</head>
<body>
<div id="container">
    <main>
        <article>
            <table>
                <tr>
                    <td><b>{CAR_NAME}</b></td>
                    <td><small>({DATA_TIMESTAMP}, <a href="{REFRESH_URL}">Refresh</a>)</small></td>
                </tr>
                <tr>
                    <td>Total mileage:</td>
                    <td>{MILEAGE}km</td>
                </tr>
                <tr>
                    <td>Plug status:</td>
                    <td>{PLUGGED_IN}</td>
                </tr>
                <tr>
                    <td>Charging status:</td>
                    <td>{CHARGING}</td>
                </tr>
                <tr>
                    <td>Battery level:</td>
                    <td>{BATTERY_LEVEL}%</td>
                </tr>
                <tr>
                    <td>Battery energy:</td>
                    <td>{BATTERY_ENERGY}kWh</td>
                </tr>
                <tr>
                    <td>Range:</td>
                    <td>{RANGE}km</td>
                </tr>
                <tr>
                    <td>Battery temperature:</td>
                    <td>{BATTERY_TEMP}&deg;C</td>
                </tr>
                <tr>
                    <td>Ambient temperature:</td>
                    <td>{OUTDOOR_TEMP}</td>
                </tr>
                <tr>
                    <td>Air conditioning:</td>
                    <td><a href="{REFRESH_URL}?startac">Start</a> / <a href="{REFRESH_URL}?stopac">Stop</a></td>
                </tr>
                <tr class="{HIDDEN_WHEN_NOT_PLUGGED_IN}">
                    <td colspan="2"><a href="{REFRESH_URL}?startcharging">Start charging</a></td>
                </tr>
            </table>
        </article>
    </main>
</div>
</body>
</html>