<html>
<head>
    <link href="main.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{CAR_NAME}</title>
</head>
<body>
<div id="container">
    <main>
        <article>
            <table>
                <tr>
                    <td><b>{CAR_NAME}</b></td>
                    <td><small>({DATA_TIMESTAMP}, <a href="{REFRESH_URL}">Refresh</a>)</small></td>
                </tr>
                <tr>
                    <td>Total mileage:</td>
                    <td>{MILEAGE}km</td>
                </tr>
                <tr>
                    <td>Plug status:</td>
                    <td>{PLUGGED_IN}</td>
                </tr>
                <tr>
                    <td>Charging status:</td>
                    <td>{CHARGING}</td>
                </tr>
                <tr>
                    <td>Fully charged in:</td>
                    <td>{REMAINING}</td>
                </tr>
                <tr>
                    <td>Instantaneous power:</td>
                    <td>{POWER}kW</td>
                </tr>
                <tr>
                    <td>Battery level:</td>
                    <td>{BATTERY_LEVEL}%</td>
                </tr>
                <tr>
                    <td>Battery energy:</td>
                    <td>{BATTERY_ENERGY}kWh</td>
                </tr>
                <tr>
                    <td>Range:</td>
                    <td>{RANGE}km</td>
                </tr>
                <!-- Always 20 -->
                <!--                <tr>-->
                <!--                    <td>Battery temperature:</td>-->
                <!--                    <td>{BATTERY_TEMP}&deg;C</td>-->
                <!--                </tr>-->
                <tr>
                    <td>GPS location:</td>
                    <td><a href="https://www.google.com/maps/place/{GPS_LAT},{GPS_LON}" target="_blank">Google Maps</a>
                    </td>
                </tr>
                <tr>
                    <td>GPS update:</td>
                    <td>{GPS_TIME}</td>
                </tr>
                <tr>
                    <td>Air conditioning:</td>
                    <td><a href="{REFRESH_URL}?startac">Start</a> / <a href="{REFRESH_URL}?stopac">Stop</a></td>
                </tr>
                <tr>
                    <td>Charge mode:</td>
                    <td><a href="{REFRESH_URL}?chargemode=always">Always</a> / <a href="{REFRESH_URL}?chargemode=schedule">Scheduled charging</a></td>
                </tr>
            </table>
        </article>
    </main>
</div>
</body>
</html>